@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
    /* outline: 3px solid red; */
}
/* Variables */

 :root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #9a9add;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
    color: var(--bg-color);
    background-color: var(--body-color);
    width: 100%;
}

html::-webkit-scrollbar {
    width: .5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--heading-color);
}

section {
    padding: 3rem 0 2rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.header-active {
    background-color: var(--box-color);
    transition: .4s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all linear;
}
/* Menu Icon */

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
/*home*/

.home {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem;
    background-image: url('./asset/OD4.png') ;
    background-size: cover;
    background-position: center;
    /* object-fit: contain;
    object-position: center; */
}
.pics{
    display: none;
    width: 150px;
    height: 180px;
    background-size: contain;
    /* background-position: center; */
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text .color {
    color: var(--main-color);
}

.home-text h3 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
}

.home-text h3::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
}

.home-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.home-text p {
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.social .bx {
    font-size: 1.3rem;
    padding: 10px;
    background-color: var(--container-color);
    border-radius: 50%;
    color: var(--bg-color);
}

.social .bx:hover {
    background-color: var(--main-color);
    transition: 0.3s all linear;
}
/*heading*/

.heading {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--heading-color);
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about-data span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-data h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.btn {
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 12px 16px;
    border-radius: .4rem;
    margin-top: 1rem;
}

.btn .bx {
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #546eff;
    transform: 0.3s all linear;
}

.about-text p {
    font-size: .93rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}
/*services*/

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--container-color);
    padding: 15px;
    border-radius: .4rem;
    transition: 0.5s all linear cubic-bezier(0.075, 0.82, 0.156, 1);
}

.services-box:hover {
    transform: scale(1.05);
    transition: 0.5s all linear cubic-bezier(0.075, 0.82, 0.156, 1);
}

.services-box .bx {
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}

.services-box h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: .5rem 0;
    color: var(--main-color);
}

.services-box p {
    font-size: 0.9rem;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(234, 45%, 16%, 0.7);
}

.portfolio-overlay h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.portfolio-overlay .bx {
    font-size: 24px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}

.portfolio-overlay .bx:hover {
    background-color: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay {
    top: 0;
    transition: 0.3s all ease 0s;
}
/*project*/

.skill-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill-content .project-box{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    column-gap: 1rem;

}
.skills-svg{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}
.skills-svg .rounded{
    border-radius: 10px;
}
.skill-content .bx {
    font-size: 24px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}
.skill-content p{
    font-size: 0.85rem;
    font-weight: 50;
    margin: 1rem 0;
}
.skill-content .experience{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 1.5rem;
}

.project-box {
    background-color: var(--box-color);
    padding: 20px 10px;
    border-radius: .4rem;
    text-align: center;
}

.project-box h2 {
    font-size: 1.2rem;
}

.project-box span {
    font-size: .845rem;
}

.reviews {
    max-width: 750px;
    width: 100%;
    margin: auto;
}

.review-box {
    max-width: 550px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
}

.review-box .bx {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: .5rem;
}

.review-box .review-text {
    font-size: .89rem;
    margin-bottom: 1rem;
}

.review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-profile h2 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: var(--main-color);
    font-weight: 600;
}

.review-profile span {
    font-size: .84rem;
    margin: .5rem 0 0.7rem;
}

.review-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: .2rem !important;
    background-color: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background-color: var(--main-color) !important;
}
/*contact form*/
.contact-form{
    margin: 0 auto;
    max-width: 600px;
}
.name, .email{
    width: 100%;
    background-color:#0d0f26;
    border: none;
    color: white;
    padding: 14px 24px;
    margin: 4px 0;
    border-radius: 5px;
    outline: none;
}
textarea{
    width: 100%;
    background-color:#0d0f26;
    border: none;
    padding: 14px 20px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}
.send-btn{
    background-color: var(--main-color);
    padding: 13px 28px;
    border: 0;
    border-radius: 5px ;
    margin-top: 10px;
}
/*Footer*/

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

.footer p {
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-links a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-color);
}

.footer-links a:hover {
    color: var(--main-color);
    transition: .3s all linear;
}
/*scroll top arrow*/

.scroll-top {
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scroll-top .bx {
    padding: 8px;
    font-size: 1.3rem;
    color: var(--bg-color);
    background-color: var(--box-color);
    border-radius: .2rem;
}

.scroll-top .bx:hover {
    background-color: var(--container-color);
    transition: .3s;
}

.scroll-active {
    bottom: 2rem;
    transition: .3s;
}
/*responsive */

@media(max-width:990px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }
}

@media(max-width:892px) {
    section {
        padding: 2rem 0;
    }
    .nav {
        padding: 12px 0;
    }
    .heading {
        font-size: 4rem;
    }
    .portfolio-box {
        height: 257px;
    }
}

@media(max-width:775px) {
    .logo {
        font-size: 1.1rem;
    }
    .home {
        min-height: 500px;
        padding-top: 6rem;
    }
    .home-text h3 {
        font-size: 1rem;
    }
    .home-text h2 {
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .home-text p {
        font-size: .825rem;
    }
    .services-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-box {
        height: 245px;
    }
    .menu-icon {
        display: flex;
    }
    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .open-menu {
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .nav-link {
        display: block;
        margin: 1rem 0;
    }
}

@media(max-width:635px) {
    .about-content {
        grid-template-columns: 1fr;
    }
    .about-data span {
        font-size: .9rem;
    }
    .about-data h2 {
        font-size: 1.7rem;
        line-height: 2.3rem;
        font-weight: 600;
        margin: .8rem 0;
    }
    .about-text p {
        font-size: .825rem;
        margin-bottom: 1.3rem;
    }
    .project-content {
        grid-template-columns: repeat(2, 200px);
    }
}

@media(max-width:450px) {
    .home {
        min-height: 485px;
        padding-top: 5rem;
    }
    .home-img {
        width: 140px;
        height: 140px;
    }
    .home-img img {
        width: 140px;
        height: 140px;
    }
    .home-text h2 {
        font-size: 2.1rem;
        line-height: 3.2rem;
    }
    .home-text p br {
        display: contents;
    }
    .heading {
        font-size: 3rem;
    }
    .about-data h2 {
        font-size: 1.3em;
        line-height: 2.1rem;
        margin: .6rem 0;
    }
    .services-content,
    .portfolio-content,
    .project-content {
        grid-template-columns: 1fr;
    }
    .review-box,
    .review-text {
        font-size: .82rem;
    }
    .footer-links {
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media(max-width:325px) {
    .navbar {
        width: 100%;
    }
    .portfolio-box {
        height: 190px;
    }
}